# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries, built with `go test -c`
*.test

# Output of Go coverage tools
*.out

# Go workspace files
go.work
go.work.sum

# Dependency directories
vendor/

# Binary directory
bin/

# Environment files
.env

# Logs and temporary files
*.log
tmp/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific
.idea/
.vscode/
*.swp
*.swo


libs/
*.dll